.App {
  text-align: center;
}

.dictionary {
  text-align: left;
  margin-left: 5%;
  margin-right: 5%;
}

.results-section {
  margin-top: 5%;
}

.results-wrapper {
  margin-top: 2%;
}

.definition-parent-show {
  display: block;
  padding-bottom: 2%;
}

.definition-parent-hide {
  display: none;
}


.def-child-classification {
  display: inline;
  padding-right: 1%;
}

.def-child-definition {
  display: inline;
  padding-left: 1%;
}
