.App {
  text-align: center;
  background-color: cadetblue;
  height: 100vh; /* TODO: Fix for words with many definitions which spill off the page*/
  width: 100%;
  margin: 0;
}

.header-message {
  margin: 0;
  padding-top: 1%;
  text-decoration: underline;
}

.dictionary {
  border-radius: 10px;
  padding: 2%;
  background-color: white;
  text-align: left;
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
}

.results-section {
  margin-top: 5%;
}

.results-wrapper {
  margin-top: 2%;
}

.definition-parent-show {
  display: block;
  padding-bottom: 2%;
}

.definition-parent-hide {
  display: none;
}

.def-child-classification {
  display: inline;
  padding-right: 1%;
}

.def-child-definition {
  display: inline;
  padding-left: 1%;
}
